.chevron-wrapper {
  display: flex;
  position: absolute;
  top: 0px;
  left: 22%;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.chevron-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 1); /* needs full opacity */
  box-shadow: 0px -10px 25px 0px rgba(0,0,0,0.1);
}

.chevron-logos {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sustenna-logo {
  height: 5.5vmin;
}

.trinza-logo {
  height: 5.5vmin;
}

.heading {
  background-color: #FFF;
  width: 100%;
  padding: 35px 0px 30px;
}

.chevron-text {
  margin: 0 auto;
  font-size: 3vmax;
  color: #B01C2E;
  font-family: 'Apex Sans', 'Open Sans';
  font-weight: 900;
}

.chevron {
  width: 0;
  height: 0;
  /* width is border left/right */
  border-left: 25vmax solid transparent;
  border-right: 25vmax  solid transparent;
  /* height of chevron is border-top */
  border-top: 40px solid white;
}



@media screen and (max-width: 1200px) {
  .chevron-wrapper {
    position: revert;
    width: 100%;
  }
  .sustenna-logo {
    height: 6.5vmin;
  }
  .trinza-logo {
    height: 6.5vmin;
  }  
  .chevron {
    display: none;
  }
  .chevron-text {
    margin: 0 auto;
    font-size: 2em;
    padding: 0 20px;
  }  
}

@media screen and (max-width: 400px) {
  .sustenna-logo {
    height: 9vmin;
  }
  .trinza-logo {
    height: 9vmin;
  }    
  .chevron-text {
    font-size: 20px;
  }  
}