@import './variables.scss';

.accordion {
  margin: 2em auto;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 100%;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1.5em 0;
}

.accordion__button {
  background: linear-gradient(to right, #B01C2E 40%, #e4592b 89%);
  color: #fff;
  font-size: 22px;
  font-family: $font-bold;
  font-weight: 900;
  cursor: pointer;
  padding: 10px 18px 12px;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__button:focus {
  outline-offset: 10px;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:after {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 3px solid currentColor;
  border-right: 3px solid currentColor;
  transform: rotate(45deg);
}

.accordion__button[aria-expanded='true']::after,
.accordion__button[aria-selected='true']::after {
  transform: rotate(-135deg);
  position: relative;
  top: 5px;
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}
// Show box-shadow when the accordion item is open
.accordion__panel[aria-hidden='false'] {
  box-shadow: $box-shadow;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}