@import "./variables.scss";
@import "./mixins.scss";

.App {
  background-color: #FFF;
  text-align: center;
  font-family: $font-stack;
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

ol, ul {
  margin-block-start: 0em;
  padding-inline-start: 20px;
}

sup {
  font-size: 100%;
  vertical-align: text-top;
}

table td:first-child { 
  border-left: none; 
}

// Home page heading size
.home-header-size {
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  margin-bottom: 40px;
}

// Sustenna/Trinza/Terms of use page heading size
.page-header-size {
  font-size: $page-font-size;
  line-height: $page-line-height;
}

// commonly used font colors
.font-red {
  color: $red;
}
.font-light-red {
  color: $light_red;
}
.font-orange {
  color: $orange;
}
.font-light-orange {
  color: $light_orange;
}
.font-grey {
  color: $grey;
}
.font-light-grey {
  color: $light_grey;
}
.font-trinza-blue {
  color: $blue_trinza;
}
.font-dark-blue {
  color: $dark_blue;
}

// background colours
.bg-peach {
  background-color: #F9DCD1;
}
.bg-light-blue {
  background-color: $light_blue;
}
.bg-trinza-blue {
  background-color: $blue_trinza;
}
.bg-light-orange {
  background-color: $light_orange;
}
.bg-light-grey {
  background-color: $light_grey;
}
// bg colour classes for red chevron
.bg-red {
  background-color: $red;
}
.red-triangle {
  border-top: 45px solid $red; // bg color of triangle
}
// bg colour classes for blue chevron
.bg-blue {
  background-color: $blue;
}
.blue-triangle {
  border-top: 45px solid $blue_trinza; // bg color of triangle
}

// Class to apply Apex-Sans Bold
.font-bold {
  font-family: $font-bold;
}

.nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
.italics {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}

// Positioning classes

.side-pad-20 {
  padding: 0 20px;
}
.side-pad-60 {
  padding: 0 60px;
}

// 10px to bottom margin
.m-10-bot {
  margin: 0px 0px 10px;
}
.m-0-auto {
  margin: 0 auto;
}

.width-33p {
  width: calc(100% / 3);
}
.width-50p {
  width: 50%;
}
.width-60p {
  width: 60%;
}
.width-66p {
  width: calc(100% / 3 * 2);
}
.width-70p {
  width: 70%;
}
.width-80p {
  width: 80%;
}
.width-100p {
  width: 100%;
}


.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  width: 100%;
  @include center-flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-around {
  display: flex;
  justify-content: space-around;  
}

.grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-row-2-col-1 {
  grid-row: 2;
  grid-column: 1;
}

.grid-row-spans-all-cols {
  text-align: center;
  grid-row: 1;
  grid-column: 1 / 3;
}

.grid-row-2-col-2 {
  grid-row: 2;
  grid-column: 2;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.blur {
  filter: opacity(0.6);
}

.nav-shadow {
  box-shadow: $nav-shadow;
}

// very large screens
@media screen and (min-width: $large-screen-bp) {
  .App {
    font-size: $app-font-size;
  }
  ol, ul {
    padding-inline-start: 30px;
  }
}

@media screen and (min-width: $breakpoint) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: $breakpoint) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}