@import "./variables.scss";
@import "./mixins.scss";

.chevron-wrapper {
  display: flex;
  width: $chevron-rectangle-width;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.heading {
  width: 100%;
  min-height: 120px;
  @include center-flex;
  padding: 25px 0px 0px;
}

.chevron-text {
  color: #fff;
  font-family: 'Apex Sans', 'Open Sans';
  font-weight: 900;
  text-align: center;
}

.chevron {
  width: 0;
  height: 0;
  /* width is border left/right */
  border-left: $chevron-triangle-width solid transparent; // 25vmax
  border-right: $chevron-triangle-width  solid transparent;
  /* height of chevron is border-top */
  // border-top: 45px solid $red; // bg color of triangle
}

// large screens
@media all and (min-width: $large-screen-bp) {
  .chevron {
    /* height of chevron is border-top */
    border-top-width: $chevron-triange-height;
  }
}

@media all and (max-width: $chevron-header-bp) {
  .chevron-wrapper {
    position: revert;
    width: 85%;
    margin: 0 auto;
  }
  .heading {
    padding-top: 15px;
    min-height: unset;
  }  
  .chevron {
    /* width is border left and right */
    border-left-width: $chevron-triangle-width-mobile;
    border-right-width: $chevron-triangle-width-mobile;
    /* height of chevron is border-top */
    border-top-width: $chevron-triangle-height-mobile;
  }
}

// If the height is larger than the width the window is in portrait mode. 
// If the width is larger than the height it’s in landscape mode.
@media all and (orientation: portrait) {
  .chevron-wrapper {
    position: revert;
    width: 85%;
    margin: 0 auto;
  }  
  .chevron {
    /* width is border left and right */
    border-left-width: $chevron-triangle-width-portait;
    border-right-width: $chevron-triangle-width-portait;
  }
}

@media screen and (max-width: 370px) {
  .chevron-wrapper {
    width: 100%;
  }
  .chevron {
    display: none;
  }
  .chevron-text {
    margin: 0 auto;
    padding: 0 20px;
  }
  .heading {
    padding: 20px 0px;
  }  
}