@import "./variables.scss";

.chevron-header {
  display: flex;
  justify-content: space-between;
}

.bg {
  width: 25%;
  height: 130px;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: $nav-shadow;
}

// Bg images for sustenna page /conversionguide1
.bg-header-orange {
  background-color: $orange;
  background-image: url("../assets/left_bg.png");
}
.bg-header-red {
  background-color: $red;
  background-image: url("../assets/right_bg.png");
}
// Bg images for trinza page /conversionguide2
.bg-trinza-left {
  background-color: $orange;
  background-image: url("../assets/bg_trinza_left.png");
}
.bg-trinza-right {
  background-color: $blue_trinza;
  background-image: url("../assets/bg_trinza_right.png");
}

.silver-border {
  position: relative;
  top: 130px;
  height: 10px;
  border-bottom: 2px solid $silver;
}

@media screen and (max-width: $chevron-header-bp) {
  .bg {
    display: none;
  }
}
