@import "./variables.scss";

.chevron-wrapper {
  display: flex;
  position: absolute;
  left: 25%;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.chevron-container {
  width: 100%;
  background-color: $red;
  opacity: 1; /* needs full opacity */
}

.heading {
  background-color: $red;
  width: 100%;
  padding: 25px 0px 20px;
  /* background-color: black; */
}

.chevron-text {
  // font-size: 2.5vmax;
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  padding: 0 20px;
  color: #fff;
  font-family: 'Apex Sans', 'Open Sans';
  font-weight: 900;
}

.chevron {
  width: 0;
  height: 0;
  /* width is border left/right */
  border-left: 25vmax solid transparent;
  border-right: 25vmax  solid transparent;
  /* height of chevron is border-top */
  /* border-top: 40px solid black; */
  border-top: 45px solid $red;
}

@media screen and (max-width: 1200px) {
  .chevron-wrapper {
    position: revert;
    width: 100%;
  }
  .chevron {
    display: none;
  }
  .chevron-text {
    margin: 0 auto;
    padding: 0 20px;
  }  
}