@import "./variables.scss";

.chevron-wrapper {
  display: flex;
  width: $chevron-rectangle-width; // 50%
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.chevron-container {
  width: 100%;
  background-color: $red;
  opacity: 1; /* needs full opacity */
}

.heading {
  background-color: $red; // bg colour of rectangle
  width: 100%;
  padding: 25px 0px 20px;
}

.chevron-text {
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  padding: 0 20px;
  color: #fff;
  font-family: 'Apex Sans', 'Open Sans';
  font-weight: 900;
}

.chevron {
  width: 0;
  height: 0;
  /* width is border left/right */
  border-left: $chevron-triangle-width solid transparent; // 25vmax
  border-right: $chevron-triangle-width  solid transparent;
  /* height of chevron is border-top */
  border-top: 45px solid $red;
}

@media all and (max-width: $breakpoint) {
  .chevron-wrapper {
    position: revert;
    width: 85%;
    margin: 0 auto;
  }
  .heading {
    padding: 0px;
  }  
  .chevron {
    /* width is border left and right */
    border-left-width: $chevron-triangle-width-mobile;
    border-right-width: $chevron-triangle-width-mobile;
    /* height of chevron is border-top */
    border-top-width: $chevron-triangle-height-mobile;
  }
}

// When height is same or greater than width...
@media all and (orientation: portrait) {
  .chevron {
    /* width is border left and right */
    border-left-width: $chevron-triangle-width-portait;
    border-right-width: $chevron-triangle-width-portait;
  }
}

@media screen and (max-width: 370px) {
  .chevron-wrapper {
    width: 100%;
  }
  .chevron {
    display: none;
  }
  .chevron-text {
    margin: 0 auto;
    padding: 0 20px;
  }
  .heading {
    padding: 20px 0px;
  }  
}