.DoseCalc {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-auto-rows: minmax(30px, auto);
}

.input-label {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid black;
  background-color: azure;
  justify-content: center;
}

.label {
  border: 1px solid black;
  background-color: azure;
  justify-content: center;
  padding: 20px;
}

.output-label {
  grid-column: 2;
  grid-row: 1;
}

.input-buttons button {
  width: 100px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  font-size: 1.1em;
}

.output-cell {
  justify-content: center;
  font-size: 2em;
  background-color: cornflowerblue;
  color: #fff;
  font-weight: bold;
}

.selected {
  background-color: cornflowerblue;
  color: #fff;
  font-weight: bold;
}