@import "./variables.scss";

.DoseCalc {
  border-collapse: collapse;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: $dose-calc-shadow;
  th.input {
    width: 33%;
  }
  th.input, th.output {
    vertical-align: top;
    color: #6D6E71;
    -webkit-box-shadow: $bottom-border-shadow;
    -moz-box-shadow: $bottom-border-shadow;
    box-shadow: $bottom-border-shadow;
  }
  th {
    border-right: 2px solid #EBECEC;
  }
  th:last-child {
    border-right: 0px;
  }
  td {
    // text-align: center;
    border-right: 2px solid #EBECEC;
    border-bottom: 2px solid #EBECEC;
    button {
      cursor: pointer;
      padding: 5px 0px;
      width: 95%;
      font-family: $font-bold;
      font-size: 24px;
      line-height: 100%;
      background-color: inherit;
      border: 0;
    }
  }
  td:last-child {
    border-top: 2px solid #EBECEC;
    border-bottom: 0px;
  }
  td.not-selected {
    padding: 15px 0px;
  }
}

.label {
  padding: 20px;
}

.output-cell {
  text-align: center;
  font-size: 2.2em;
  font-family: $font-bold;
  background-color: #F9DCD1;
  box-shadow: $output-cell-top-shadow;
  color: #E15217;
  font-weight: bold;
  sup {
    font-size: 60%;
    vertical-align: super;
    font-family: $font-bold;
  }
}

.selected {
  display: flex;
  align-items: center;
  font-weight: bold;
  button {
    position: relative;
    left: 12px;
    color: #fff
  }
  div.right-pointer {
    position: relative;
    left: 41px;
    width: 0;
    height: 0;
    border-top: $pointer-height solid transparent;
    border-bottom: $pointer-height solid transparent;
  }
  // colors of the pointers
  .red {
    border-left: $pointer-width solid $red;
  }
  .orange {
    border-left: $pointer-width solid $light_orange;
  }
  .grey {
    border-left: $pointer-width solid $light_grey;
  }
}