@import "./variables.scss";

.DoseCalc {
  caption { visibility: hidden; }
  border-collapse: collapse;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: $dose-calc-shadow;
  th.input, th.output {
    vertical-align: top;
    color: #6D6E71;
    -webkit-box-shadow: $bottom-border-shadow;
    -moz-box-shadow: $bottom-border-shadow;
    box-shadow: $bottom-border-shadow;
  }
  th {
    text-align: left;
    border-right: 2px solid #EBECEC;
  }
  th:last-child {
    border-right: 0px;
  }
  td {
    // text-align: center;
    border-right: 2px solid #EBECEC;
    button {
      cursor: pointer;
      padding: 5px 0px;
      width: 95%;
      font-family: $font-bold;
      font-size: 1.3em;
      line-height: 100%;
      background-color: inherit;
      border: 0;
    }
  }
  td:last-child {
    border-top: 2px solid #EBECEC;
    border-bottom: 0px;
  }
  td.not-selected {
    padding: 15px 0px;
  }
}

.label {
  padding: 20px;
}

.output-cell {
  text-align: center;
  font-size: 3em;
  font-family: $font-bold;
  box-shadow: $output-cell-top-shadow;
  sup {
    font-size: 60%;
    vertical-align: super;
    font-family: $font-bold;
  }
}

// Styles for when the button is selected
.selected {
  display: flex;
  align-items: center;
  font-weight: bold;
  button {
    position: relative;
    left: 12px;
    color: #fff
  }
  div.right-pointer {
    position: relative;
    left: 41px;
    width: 0;
    height: 0;
    border-top: $pointer-height solid transparent;
    border-bottom: $pointer-height solid transparent;
  }
  // colors of the pointers
  .red {
    border-left: $pointer-width solid $red;
  }
  .orange {
    border-left: $pointer-width solid $light_orange;
  }
  .grey {
    border-left: $pointer-width solid $light_grey;
  }
  .blue {
    border-left: $pointer-width solid $blue_trinza;
  }
}

@media all and (max-width: $breakpoint) {
  .DoseCalc {
    max-width: 99%;
    th {
      font-size: 14px;
    }
    .width-50p {
      width: 25%;
    }
    .label {
      padding: 10px;
    }
    td button {
      font-size: 1em;
    }
    .output-cell {
      font-size: 2em;
    }
  }
  .selected {
    button {
      left: 2px;
    }    
    div.right-pointer {
      left: 16px;
      border-left-width: 15px;
    }
  }
}