@import "./variables.scss";

.page-footer {
  background-color: $red;
  color: #FFF;
  font-size: 0.6em;
  padding-bottom: 30px;
}

.footer-divider {
  height: 20px;
  width: 100%;
}

.legal-logos-container {
  display: flex;
  justify-content: space-between;
  margin: 0px $margins;
  padding-top: 20px;
}

.legal {
  text-align: left;
  margin-right: 10px;
}

.project-code {
  text-align: right;
  margin: 0px $margins;
}

.legal a {
  color: inherit;
  text-decoration: underline;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  // Footer image spacing
  img {
    margin-right: 40px;
  }
  img:last-child {
    margin-right: 0px;
  }
  // Footer image sizes
  .janssen-logo { height: 80px; }
  .paab-logo { 
    height: 60px;
    margin-top: 12px;
  }
  .imc-logo { height: 70px; }
}

@media screen and (max-width: $breakpoint) {
  .legal-logos-container {
    flex-direction: column;
    .legal {
      width: 100%;
    }
    .project-code {
      text-align: left;
      margin: 0;
    }
    .logos {
      // Footer image spacing
      img {
        margin-right: 0px;
        height: 10vmin;
      }
      // Footer image sizes
      .janssen-logo { height: 12vmin; }
      .paab-logo { 
        height: 10vmin;
        margin-top: 6px;
      }
      .imc-logo { height: 10vmin; }
    }
  }
}