@import "./variables.scss";

.page-footer {
  background-color: $red;
  color: #FFF;
  font-size: 0.6em;
  padding-bottom: 30px;
}

.footer-divider {
  height: 20px;
  width: 100%;
}

.legal-logos-container {
  display: flex;
  justify-content: space-between;
  margin: 0px $margins;
  padding-top: 20px;
}

.legal {
  text-align: left;
  margin-right: 10px;
  // space out each child element
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // control top/bottom margins of paragraph elements
  p {
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
  }
  // hide the project code we only want in mobile
  span.legal.mobile.project-code {
    display: none;
  }
}

.project-code {
  text-align: right;
  margin: 0px $margins;
}

.legal a {
  color: inherit;
  text-decoration: underline;
  white-space: nowrap;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  // Footer image spacing
  img {
    margin-right: 40px;
  }
  img:last-child {
    margin-right: 0px;
  }
  // Footer image sizes
  .janssen-logo { height: 70px; }
  .paab-logo { height: 60px; }
  .imc-logo { height: 70px; }
}

@media all and (min-width: $large-screen-bp) {
  .logos {
    img { margin-right: 100px; }
    .janssen-logo, .paab-logo, .imc-logo { height: calc(70px + 1.3vw); }
  }  
}

@media screen and (max-width: $breakpoint) {
  .desktop.project-code {
    display: none;
  }
  .legal-logos-container {
    flex-direction: column;
    .legal {
      width: 100%;
      // show the project code we want in mobile
      span.legal.mobile.project-code {
        display: inline-block;
        text-align: left;
        margin: 2em 0 0;
      }
    }
    .logos {
      // Footer image spacing
      img {
        margin-right: 0px;
        height: 10vmin;
      }
      // Footer image sizes
      .janssen-logo { height: 12vmin; }
      .paab-logo { 
        height: 10vmin;
        margin-top: 6px;
      }
      .imc-logo { height: 10vmin; }
    }
  }
}