@import "./variables.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-bg {
  width: 100%;
  background-color: #B01C2E;
  background-image: url("../assets/bg-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: $nav-shadow;
}

.buttons {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 612px; // height of the div below the chevron
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Apex Sans', 'Open Sans', 'Calibri', 'Arial';
  font-weight: bold;
  text-decoration: none;
  border-radius: 100px;
  border: 2px solid white;
}

// Position the left and right button's text and ghost-arrows inside their containers
.left {
  margin-right: 10px;
  padding: 12px 35px 12px 15px;
}
.right {
  margin-left: 10px;
  padding: 12px 15px 12px 35px;
}  

// Keeps the buttons and their paragraphs centered
.btn p {
  width: 100%;
}

// Semi-transparent arrow divs inside buttons on left and right
.ghost-arrow { 
  background: rgb(255,255,255, 0.26);
  background: linear-gradient(45deg, rgba(255,255,255,0.26) 0%, rgba(255,255,255,0.13) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  height: 90px;
  width: 90px;
  position: relative;
}
.arrow-left {  
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg); /* Standard syntax */
  left: 15px;
  bottom: 5px;
}
.arrow-right {
  -ms-transform: rotate(-135deg); /* IE 9 */
  -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
  transform: rotate(-135deg); /* Standard syntax */
  right: 15px;
  top: 5px;
}

@media screen and (max-width: 1200px) {
  .buttons {
    width: auto;
    margin: 0;
  }
  .left {
    margin-left: 20px;
  }
  .right {
    margin-right: 20px;
  }  
}

@media screen and (max-width: $breakpoint) {
  .home-bg {
    background: linear-gradient(to right, #E97D34, #BB422E);
    box-shadow: inset 0px 5px 5px -2px rgba(0,0,0,0.3);
  } 
  .btn p {
    margin: 15px 0px;
  }
  .buttons {
    font-size: calc(12px + 1.5vw);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 300px; // height of the buttons div under the Chevron
  }
  .btn {
    width: 80%;
    margin: 15px 0px;
    padding: 0px 20px;
  }

  // Repositions button paragraphs and ghost-arrows
  .left p {
    position: relative;
    right: 30px;
  }
  .right p {
    position: relative;
    left: 30px;
  }
  .ghost-arrow {
    height: 65px;
    width: 65px;
  }  
  .arrow-left {
    left: 1%;
  }
  .arrow-right {
    right: 1%;
  }  
}

// Remove Ghost arrows for small screens
@media screen and (max-width: 300px) {
  .ghost-arrow {
    display: none;
  }
  .left p, .right p {
    position: revert;
  }
}