@import "./variables.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-bg {
  width: 100%;
  background-color: #B01C2E;
  background-image: url("../assets/bg-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: $nav-shadow;
}

.buttons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 612px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  font-family: 'Apex Sans', 'Open Sans', 'Calibri', 'Arial';
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  border-radius: 60px;
  border: 2px solid white;
}
.btn:hover {
  opacity: 1;
}

.left {
  margin-right: 10px;
}
.right {
  margin-left: 10px;
}  

.btn p {
  width: 100%;
  text-align: center;
}
.left p {
  margin-right: 0px;
}
.right p {
  margin-left: 10px;
}

.ghost-arrow { 
  background: rgb(255,255,255, 0.26);
  background: linear-gradient(45deg, rgba(255,255,255,0.26) 0%, rgba(255,255,255,0.13) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  height: 70px;
  width: 70px;
}
.arrow-left {  
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg); /* Standard syntax */
  margin-left: 8px;
}
.arrow-right {
  -ms-transform: rotate(-135deg); /* IE 9 */
  -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
  transform: rotate(-135deg); /* Standard syntax */
  margin-right: 8px;
}

@media screen and (max-width: 1200px) {
  .buttons {
    width: auto;
    margin: 0;
  }
  .left {
    margin-left: 20px;
  }
  .right {
    margin-right: 20px;
  }  
}

@media screen and (max-width: $breakpoint) {
  .home-bg {
    background: linear-gradient(to right, #E97D34, #BB422E);
    box-shadow: inset 0px 5px 5px -2px rgba(0,0,0,0.3);
  }
  .left {
    margin-right: 20px;
  }
  .right {
    margin-left: 20px;
  }  
  .btn p {
    margin: 0;
  }
  .buttons {
    font-size: calc(12px + 1.5vw);
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 300px;
  }
  .btn {
    width: 80%;
    margin: 10px 0px;
    padding: 10px;
  }
  .ghost-arrow {
    display: none;
  }
}
