@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import "./variables.scss";
@import "./typography.scss";
@import "./mixins.scss";

@font-face {
  font-family: 'Apex Sans Regular';
  src: url('../fonts/ApexSansBook-Regular.woff2') format('woff2'),
      url('../fonts/ApexSansBook-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apex Sans Book';
  src: url('../fonts/ApexSansBook.woff2') format('woff2'),
      url('../fonts/ApexSansBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apex Sans Bold';
  src: url('../fonts/ApexSans-Bold.woff2') format('woff2'),
      url('../fonts/ApexSans-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  max-height: 100%;
}

body {
  background-color: $red;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
}

// button and link focus states
*:focus {
  outline: 3px solid black;
}

// remove outlines and focus rings on buttons and various elements for users that are NOT navigating via keyboard (i.e., via touch or mouse click).
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

// Don't show focus outlines while things are being clicked
*:active {
  outline: none;
}

// Give the outline box some padding on buttons
button:focus {
  outline-offset: 10px;
}
.buttons > .btn:focus {
  outline-offset: 10px;
}