@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

// Page margin change
@mixin change($margin) {
  .Dosing-section {
    margin: 0 $margin;
  }
}