@import "./variables.scss";

.modal {
  position: fixed;
  z-index: 1000;
  top: 2vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px auto;  
  padding: 0;
  max-width: 66%;
  max-height: 100%;
  overflow: scroll;
  background-color: white;
  border: 2px solid $red;
  border-radius: 9px;
  box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.2);
  p {
    text-align: left;
    width: 75%;
    margin: 0 auto;
  }
}

.modal-header-title {
  color: $orange;
  font-family: $font-bold;
  margin: 40px auto;
  padding: 0 20px;
}

.balance p {
  width: 90%;
  line-height: 1.2em;
  color: $grey;
}

.balance strong {
  color: $grey;
}

.modal-footer {
  margin: 30px 0px;
  .modal-button {
    width: auto;
    max-width: unset;
    height: auto;
    padding: 15px 20px;
    margin: 30px;
  }
}

// very large screens
@media screen and (min-width: $large-screen-bp) { 
  .App {
    font-size: $app-font-size;
  }
}

// only allows max-content height for large enough screens to avoid scrolling/accessibility issue
@media all and (min-width: $modal-bp-width) and (min-height: $modal-bp-height) {
  .modal {
    max-height: max-content;
    height: -moz-max-content;
  }
}

// For Mobile expand the width
@media all and (max-width: $breakpoint) {
  .modal {
    max-width: 85%;
  }
}
