@import "./variables.scss";

.modal {
  padding: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: max-content;
  min-width: 400px;
  margin: auto;
  border: 1px solid $black;
  background-color: $white;
  border: 2px solid $red;
  border-radius: 9px;
  box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.2);
}

.modal-header-title {
  color: $orange;
  font-weight: 900;
  font-family: 'Apex Sans', 'Open Sans', 'Arial';
  font-size: 24px;
  margin: 40px auto;
}

.balance p {
  width: 90%;
  line-height: 1.2em;
  color: $grey;
}

.balance strong {
  color: $grey;
}

.modal-footer {
  margin: 40px auto;
}