@import "./variables.scss";

.modal {
  padding: 0;
  max-width: 880px;
  height: max-content;
  margin: 10px auto;
  background-color: white;
  border: 2px solid $red;
  border-radius: 9px;
  box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.2);
  p {
    text-align: left;
    width: 75%;
    margin: 0 auto;
  }
}

.modal-header-title {
  color: $orange;
  font-weight: 900;
  font-family: 'Apex Sans', 'Open Sans', 'Arial';
  font-size: 24px;
  margin: 40px auto;
  padding: 0 20px;
}

.balance p {
  font-size: 16px;
  width: 90%;
  line-height: 1.2em;
  color: $grey;
}

.balance strong {
  color: $grey;
}

.modal-footer {
  margin: 30px 0px;
  .modal-button {
    font-size: 16px;
    width: auto;
    max-width: unset;
    height: auto;
    padding: 15px 20px;
  }
}

// Desktop
@media screen and (min-width: $breakpoint) {
  .modal {
    position: fixed;
    z-index: 1000;
    top: 105px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
  }
}

@media screen and (max-width: $breakpoint) {
  .modal {
    margin: 10px;
    max-width: max-content;
  }
}