@import "./variables.scss";

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toprow {
  margin-top: 0px;
  font-size: 0px;
  line-height: 0px;
}

.botrow {
  display: flex;
  margin: 10px 10% 10px;
  justify-content: space-between;
  align-items: center;
}

.toprow img {
  width: 100%;
}

.botrow .home-icon {
  height: 80px;
}

.modal-button {
  padding: 0px 20px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
  border: 3px solid #B01C2E;
  font-family: 'Apex Sans', 'Open Sans', 'Arial';
  font-size: 1em;
  font-weight: 800;  
  font-weight: bold;
	cursor: pointer;
	opacity: 0.8;  
}

.si-button {
  border-color: #B01C2E;
  color: #B01C2E;
}

.continue-button {
  border-color: white;
  color: white;
  background: linear-gradient(to right, #B01C2E, #F5821F);
}

.modal-button:hover {
  opacity: 1;
}

// Logos
.chevron-logos {
  display: flex;
  justify-content: center;
  img {
    margin: 0 25px;
  }
}

.trinza-logo,
.sustenna-logo {
  height: 5vmin;
}



@media screen and (max-width: 1200px) {
  .sustenna-logo {
    height: 4vmin;
  }
  .trinza-logo {
    height: 4vmin;
  }
}

@media screen and (max-width: 805px) {
  .chevron-logos {
    img { height: 5vmin; }
    margin-top: 0px;
    margin-bottom: 20px;
  }  
  .botrow, .nav-logos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .chevron-logos {
    img { 
      height: 6.5vmin; 
      margin: 0px;
    }
    margin-top: 0px;
    margin-bottom: 20px;
  }  
  .sustenna-logo {
    position: relative;
    right: 10px;
  }  
}