@import "./variables.scss";
@import "./mixins.scss";

article {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  footer {
    display: flex; 
    flex-direction: column;
    font-size: 0.8em;
  }
}

// for panel A
.panel-a-ol > li {
  padding-left: 0.5em;
}

figure {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
// for panel A + C
.day-muscle {
  font-family: $font-bold;
  text-align: center;
  label {  
    text-transform: uppercase;
  }
  .day {
    font-size: 1.3em;
    line-height: 1em;
    color: $orange;
    white-space: nowrap;
  }
  .muscle {
    color: $grey; // A1A3A6 in layout but too dim for AAA standards
  }
}

// Dose card images
img.panelA-card {
  width: 25%;
}

// For PanelA
.join-label {
  width: 10%;
  text-align: center;
  color: #BE2034;
  font-size: 1.1em;
  font-weight: 700;
  hr {
    border-style: dotted none none;
    border-top: 1px dotted $orange;
    border-bottom: 0;    
    width: 100%;
    border-width: 5px;
    margin: 15px auto;
  }
  span {
    color: $orange;
  }
}

// For PanelB
.panelB-p {
  margin: 0 0 50px;
  padding: 0;
}
.panelB-foot {
  margin: 50px 0 0;
}

// For PanelC: INVEGA SUSTENNA® Monthly Maintenance Dosing
article.maintenance {
  align-items: center;
  justify-content: center;
}
// Callout 
header.maintenance {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: $red;
  p {
    padding: 30px 30px 30px 0px;
    background: $alert_gradient;
    border-radius: 20px;
  }
  img {
    height: 120px;
  }
}

section.maintenance {
  @include center-flex;
  div.day-muscle {
    line-height: 0.8em;
    .day { 
      font-size: 1.1em;
    }
    .muscle {
      font-size: 0.8em;
    }
    sup {
      font-size: 0.6em;
      vertical-align: super;
    }
  }
  figure {
    @include flex-col;
    align-items: flex-start;
    h4, footer {
      position: relative;
      padding-left: 20px;
      color: $red;
      font-family: $font-bold;      
    }
    h4 {
      font-size: 0.8em;
      width: 96%;
      margin: 0;
      top: 15px;
    }
    footer {
      width: 96%;
      bottom: 15px;
    }  
  }
}

.panel-C-footer {
  padding: 30px 20px 20px;
  small:first-child {
    margin-bottom: 12px;
  }
}

@media (max-width: 1530px) {
  // PanelA
  figure, 
  section.maintenance,
  header.maintenance {
    flex-direction: column;
  }
  img.panelA-card {
    margin: 10px 0;
    width: 30vw;
    min-width: 280px;
  } 
  // PanelC
  section.maintenace {
    figure {
      align-items: flex-start;
    }
  }
  header.maintenance {
    // +/- 7 days image
    img {
      height: 150px;
    }
    p {
      margin: 0 0 30px;
      padding: 20px 20px 20px 20px;
      font-size: 1.2em;
    }
  }
  section.maintenance > figure > h4 {
    padding-left: 15px;
    div.day-muscle {
      position: revert;
    }
  }   
  img.panelC-card {
    width: 30vw;
    min-width: 375px;
  }  
  .day-muscle {
    position: relative;
    right: 20px;
  }
  .join-label {
    width: 275px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    hr {
      transform: rotate(90deg);
    }
  }
}

@media (max-width: 475px) {
  img.panelC-card {
    width: 80vw;
    margin: 5px 0px;
    min-width: unset;
  }
  figure > img {
    width: 80vw;
    position: relative;
    right: 10px;
  }
  section.maintenance {
    width: 100%;
    .day-muscle {
      width: 150px;
      margin-bottom: 20px;
    }
    figure {
      width: 100%;
      align-items: unset;
      h4, footer {
        width: 100%;
        padding-left: 0px;
      }
      footer {
        font-size: $dose-heading-foot;
      }
    }
  }
  .join-label {
    font-size: 16px;
    width: 200px;
    .week {
      font-family: $font-stack;
      line-height: 40px;
    }
  }
}