@import "./variables";

article {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  footer {
    display: flex; 
    flex-direction: column;
    font-size: 0.8em;
  }
}

.panel-a-ol > li {
  padding-left: 1em;
}

figure {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-muscle {
  font-family: $font-bold;
  text-align: center;
  line-height: 0.9em;
  .day {
    font-size: 24px;
    line-height: 1.8em;
    color: $orange;
  }
  .muscle {
    font-size: 16px;
    color: #A1A3A6;
  }
}

.join-label {
  width: 15%;
  text-align: center;
  color: #BE2034;
  font-size: 24px;
  font-weight: 700;
  .week {
    font-family: $font-bold;
  }
  .days { 
    white-space: nowrap; 
  }
  hr {
    border-style: dotted none none;
    border-top: 1px dotted #F58220;
    border-bottom: 0;    
    width: 100%;
    border-width: 5px;
    margin: 15px auto;
  }
  span {
    color: #F58220;
  }
}

@media (max-width: 1530px) {
  figure {
    flex-direction: column;
  }
  .day-muscle {
    position: relative;
    right: 20px;
  }
  .join-label {
    width: 275px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    hr {
      -webkit-transform: rotate(90deg);
    }
  }
}

@media (max-width: 460px) {
  figure > img {
    width: 80vw;
  }
  .join-label {
    font-size: 16px;
    width: 200px;
    .week {
      font-family: $font-stack;
      line-height: 40px;
    }
  }
}