@import "./variables.scss";

.terms {
  text-align: left;
  margin: 0 $margins 90px;
  h2 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.85em;
    line-height: 1.2em;
    margin: 0;
  }
}

ul.terms-bullet-list {
  padding-inline-start: 25px;
  li { 
    font-size: 0.7em;
    line-height: 1.2em;
    span {
      font-size: initial;
      line-height: 1.3em;
    }
  }
}

.terms-link {
  color: blue;
  text-decoration: underline;
}


@media all and (max-width: $breakpoint) {
  .terms {
    margin: 0 5%;
  }
}