// Font stack
$font-stack: 'Apex Sans Book', 'Apex Sans Regular', 'Open Sans'; // use for any regular text
$font-bold: 'Apex Sans Bold', 'Open Sans'; // use for any bold text

// Colours
$white: #fff;
$black: #000;
$grey: #595959;
$light_grey: #808080;
$red: #b01c2e;
$light_red: #CF2030;
$blue: #00ACCD;
$blue_trinza: #0288A9; // meets AAA standard of contrast ratio because the text is large enough // original blue #00A3BA
$dark_blue: #0288A9;
$light_blue: #E5F6F9;
$orange: #BD5B05; // meets AAA standard for 4.5:1 contrast ratio on white background // original orange #F5821F
$light_orange: #AC4215; // original light orange E15217
$silver: #CBCDCE;
$peach: #F9DCD1;

// Gradients
$alert_gradient: linear-gradient(to right, #FFF, rgb(245, 130, 31, 0.1) 35%);
$trinza_gradient: linear-gradient(to right, #B01C2E 0%, #BC2237 49%, #F58220 66%, #00AABE 100%);

// Spacing
$margins: 10%;

// Breakpoints
$large-screen-bp: 1920px; // 2000px old, 
$chevron-header-bp: 1105px; 
$breakpoint: 1030px;
$nav-min-width-bp: 921px;
$nav-max-width-bp: 920px;

// Responsive font-sizes (minimum font-size is the value in px)
$app-font-size: calc(12px + 0.75vw);
$app-line-height: calc(16px + 0.75vw);
// Chevron + Headings
$heading-font-size: calc(14px + 2vw);
$heading-line-height: calc(20px + 2vw);
// Safety information button
$modal-btn-font-size: calc(12px + 1vw);
$modal-btn-line-height: calc(16px + 1vw);
// Chevron header in Sustenna/Trinza pages
$page-font-size: calc(14px + 1.2vw);
$page-line-height: calc(20px + 1.2vw);
// Maintenance dose headers
$dose-heading: calc(10px + 1.2vw);
$dose-line-height: calc(12px + 1vw);
// Maintenance dose footer
$dose-heading-foot: calc(12px + 0.6vw);


// Shadows
$nav-shadow: inset 0px 5px 5px -2px rgba(0,0,0,0.3);
$box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5);
$dose-calc-shadow: 0px 0px 15px -3px rgba(0,0,0,0.2);;
$bottom-border-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
$output-cell-top-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.2);
$dose-card-shadow: -30px 0px 50px 0px rgba(0,0,0,0.1);

// Chevron dimensions - Desktop
$chevron-rectangle-width: 50%;
$chevron-triangle-width: 25vmax;
// For large screens
$chevron-triange-height: 2.5vmax;

// Chevron dimensions - Mobile
$chevron-triangle-width-mobile: 42vmax;
$chevron-triangle-width-portait: 42vmin; // switch to vmin when height is >= width
$chevron-triangle-height-mobile: 20px;

// Dimensions of the DoseCalc pointer div
$pointer-height: 30px;
$pointer-width: 40px;