// Font stack
$font-stack: 'Apex Sans Book', 'Open Sans';
$font-bold: 'Apex Sans Bold', 'Open Sans';

// Colours
$white: #fff;
$black: #000;
$grey: #595959;
$light_grey: #808080;
$red: #b01c2e;
$blue: #00ACCD;
$orange: #F5821F;
$light_orange: #E15217;
$silver: #CBCDCE;

// Spacing
$margins: 10%;

// Breakpoint
$breakpoint: 1000px;

// Responsive font-size (minimum font-size is the value in px)
$heading-font-size: calc(12px + 1.5vw);
$heading-line-height: calc(16px + 2vw);

// Shadows
$nav-shadow: inset 0px 5px 5px -2px rgba(0,0,0,0.3);
$box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5);
$dose-calc-shadow: 0px 0px 15px -3px rgba(0,0,0,0.2);;
$bottom-border-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
$output-cell-top-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.2);

// Dimensions of the DoseCalc pointer div
$pointer-height: 30px;
$pointer-width: 40px;