.DosingInvegaSustenna {
  width: 90%;
  margin: 0 auto;
}

table { 
  border: 1px solid #000; 
  border-collapse: collapse;
}

table td {
  padding: 1em;
  border-left: 1px solid #000;
}

table td:first-child { 
  border-left: none; 
}