nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toprow {
  margin-top: 0px;
  font-size: 0px;
  line-height: 0px;
}

.botrow {
  display: flex;
  margin: 10px 10% 10px;
  justify-content: space-between;
  align-items: center;
}

.toprow img {
  width: 100%;
}

.botrow .home-icon {
  height: 80px;
}

.modal-button {
  padding: 0px 20px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
  border: 3px solid #B01C2E;
  font-family: 'Apex Sans', 'Open Sans', 'Arial';
  font-size: 1em;
  font-weight: 800;  
  font-weight: bold;
	cursor: pointer;
	opacity: 0.8;  
}

.si-button {
  border-color: #B01C2E;
  color: #B01C2E;
}

.continue-button {
  border-color: white;
  color: white;
  background: linear-gradient(to right, #B01C2E, #F5821F);
}

.modal-button:hover {
  opacity: 1;
}

@media screen and (max-width: 805px) {
  .nav-logos img {
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .botrow, .nav-logos {
    flex-direction: column;
    align-items: center;
  }
  nav {
    height: auto;
  }
  .sustenna-logo {
    position: relative;
    right: 10px;
  }  
}