.App {
  text-align: center;
  font-family: Calibri;
  font-size: 1.2em;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

sup {
  font-size: 100%;
  vertical-align: text-top;
  line-height: 110%;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-footer section {
  padding: 20px;
  text-align: left;
}
