.App {
  text-align: center;
  font-family: Calibri;
  font-size: 1.2em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

nav {
  margin-top: 20px;
}

p {
  text-align: left;
  width: 75%;
  margin: 0 auto;
}

sup {
  font-size: 100%;
  vertical-align: text-top;
  line-height: 110%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DosingInvegaSustenna {
  width: 90%;
  margin: 0 auto;
}